<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/materialize/css/materialize.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Privacy Passport</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/hover-min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/materialize/materialize.js"></script>
    <script src="~/Scripts/Script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
    <div id="bg-handle">
        <header id="navtop">
            <nav>
                <div class="nav-wrapper grey lighten-5">
                    @{
                    if (Session["connected"] != null && (bool)Session["connected"])
                    {
                    <a href="@Url.Action("Index", "PS")" class="brand-logo left blue-grey-text text-darken-1" id="app-title">
                        <img id="logo" src="~/Content/img/Privacy_Passport.svg" />
                    </a>
                    }
                else
                {
                    <a href="@Url.Action("Index", "Home")" class="brand-logo left blue-grey-text text-darken-1" id="app-title">
                        <img id="logo" src="~/Content/img/Privacy_Passport.svg" />
                    </a>
                }
            string lang = Request.Cookies["Language"]?.Value;
                    }
                    <ul id="nav-mobile" class="right">
                        <li class="@(lang == "en-US" ? "active" : "")"><a href="#" class="blue-grey-text text-darken-1 lang">EN</a></li>
                        <li class="@(lang == "fr-BE" ? "active" : "")"><a href="#" class="blue-grey-text text-darken-1 lang" id="fr">FR</a></li>
                        <li class="@(lang == "nl-BE" ? "active" : "")"><a href="#" class="blue-grey-text text-darken-1 lang" id="nl">NL</a></li>
                        @if (Session["connected"] != null && (bool)Session["connected"])
                    {
                        <li><a class="color-company-black" href="@Url.Action("LogOut", "Home")">@Resources.Global.Log_out <span id="logout" class="fas fa-sign-out-alt"></span></a></li>
                }
                    </ul>
                </div>
            </nav>
        </header>
        <div class="body-content">
            @RenderBody()
        </div>
    </div>
    <footer>
        <p id="footer-txt" class="color-company-black">&copy; @DateTime.Now.Year - TestPrivacyPassport</p>
    </footer>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</body>
</html>