@model PublicService.Models.ManageViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" id="user">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center">Details of @Model.FirstName @Model.LastName</h2>
            
            @if ((Model.BirthDateD != null && !String.IsNullOrEmpty(Model.BirthDateD)) &&
    (Model.BirthDateM != null && !String.IsNullOrEmpty(Model.BirthDateM)) &&
    (Model.BirthDateY != null && !String.IsNullOrEmpty(Model.BirthDateY)))
            {
            <div>
                @Html.LabelFor(model => Model.BirthDateD, new { @class = "control-label" })
                @Html.LabelFor(model => Model.BirthDateM, new { @class = "control-label" })
                @Html.LabelFor(model => Model.BirthDateY, new { @class = "control-label" })
                @{
                    string date = Model.BirthDateD + " " + Model.BirthDateM + " " + Model.BirthDateY;
                }
                <span class="Age form-control">@date</span>
            </div>
            }
            
            @if(Model.Nationality != null && !String.IsNullOrEmpty(Model.Nationality))
            {
                <div>
                @Html.LabelFor(model => Model.Nationality, new { @class = "control-label" })
                <span class="Nationality form-control">@Model.Nationality</span>
            </div>
            }
            
            @if(Model.Locality != null && !String.IsNullOrEmpty(Model.Locality))
            {
                <div>
                @Html.LabelFor(model => Model.Locality, new { @class = "control-label" })
                <span class="Locality form-control">@Model.Locality</span>
            </div>
            }

            @if(Model.PhotoUrl != null && !String.IsNullOrEmpty(Model.PhotoUrl))
            {
                <div>
                    <label class="control-label">Photo</label>
                    <img src="@Model.PhotoUrl" alt="Photo" style="width: 25%; height: 25%;" />
                </div>
            }

            @if(Model.ExtraInfo != null && !String.IsNullOrEmpty(Model.ExtraInfo))
            {
                <div>
                @Html.LabelFor(model => Model.ExtraInfo, new { @class = "control-label" })
                <span class="ExtraInfo form-control">@Model.ExtraInfo</span>
            </div>
            }

            @if(Model.EmailAddress != null && !String.IsNullOrEmpty(Model.EmailAddress))
            {
                <div>
                @Html.LabelFor(model => Model.EmailAddress, new { @class = "control-label" })
                <span class="EmailAddress form-control">@Model.EmailAddress</span>
            </div>
            }
        </div>
    </div>
</div>

@Html.Partial("AccessInfo")