@model PublicService.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" id="user">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center">Details of @Model.FirstName.Value</h2>
            @if(Model.LastName != null && Model.LastName.Value != null)
            {
                <div>
                <button type="button" class="btn btn-primary btn-sm"
                        onclick="displayAccessInfoPopup('LastName', '@Model.LastName.Id')">
                    <span class="fa fa-search" aria-hidden="true"></span>
                </button>
                @Html.DisplayNameFor(model => Model.LastName)
                <span class="LastName"></span>
            </div>
            }
            
            @if(Model.BirthDate != null && Model.BirthDate.Value != null)
            {
                <div>
                <button type="button" class="btn btn-primary btn-sm"
                        onclick="displayAccessInfoPopup('Age', '@Model.BirthDate.Id')">
                    <span class="fa fa-search" aria-hidden="true"></span>
                </button>
                @Html.DisplayNameFor(model => Model.BirthDate)
                <span class="Age"></span>
            </div>
            }
            
            @if(Model.Nationality != null && Model.Nationality.Value != null)
            {
                <div>
                <button type="button" class="btn btn-primary btn-sm"
                        onclick="displayAccessInfoPopup('Nationality', '@Model.Nationality.Id')">
                    <span class="fa fa-search" aria-hidden="true"></span>
                </button>
                @Html.DisplayNameFor(model => Model.Nationality)
                <span class="Nationality"></span>
            </div>
            }
            
            @if(Model.Locality != null && Model.Locality.Value != null)
            {
                <div>
                <button type="button" class="btn btn-primary btn-sm"
                        onclick="displayAccessInfoPopup('Locality', '@Model.Locality.Id')">
                    <span class="fa fa-search" aria-hidden="true"></span>
                </button>
                @Html.DisplayNameFor(model => Model.Locality)
                <span class="Locality"></span>
            </div>
            }

            @if(Model.PhotoUrl != null && Model.PhotoUrl.Value != null)
            {
                <div>
                <button type="button" class="btn btn-primary btn-sm"
                        onclick="displayAccessInfoPopup('PhotoUrl', '@Model.PhotoUrl.Id')">
                    <span class="fa fa-search" aria-hidden="true"></span>
                </button>
                @Html.DisplayNameFor(model => Model.PhotoUrl)
                <span class="PhotoUrl"></span>
            </div>
            }

            @if(Model.ExtraInfo != null && Model.ExtraInfo.Value != null)
            {
                <div>
                <button type="button" class="btn btn-primary btn-sm"
                        onclick="displayAccessInfoPopup('ExtraInfo', '@Model.ExtraInfo.Id')">
                    <span class="fa fa-search" aria-hidden="true"></span>
                </button>
                @Html.DisplayNameFor(model => Model.ExtraInfo)
                <span class="ExtraInfo"></span>
            </div>
            }

            @if(Model.EmailAddress != null && Model.EmailAddress.Value != null)
            {
                <div>
                <button type="button" class="btn btn-primary btn-sm"
                        onclick="displayAccessInfoPopup('EmailAddress', '@Model.EmailAddress.Id')">
                    <span class="fa fa-search" aria-hidden="true"></span>
                </button>
                @Html.DisplayNameFor(model => Model.EmailAddress)
                <span class="EmailAddress"></span>
            </div>
            }
        </div>
    </div>
</div>

@Html.Partial("AccessInfo")