@model IEnumerable<PublicService.Models.ManageViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Users</h1>
    <p class="lead">This a service where you can see information about users</p>
</div>

<section id="users">
    @using (Html.BeginForm("SearchAsync", "Service", FormMethod.Post, new { @class = "SearchForm" }))
    {
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Search for a user</h2>
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" id="searchString" name="searchString" class="form-control input-lg" placeholder="Example : Thomas D'Hollander" />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <ul>
    @if (Model != null) {
        foreach (var item in Model)
        {
            if (item.FirstName != null || item.LastName != null)
            {
            <li>
                <button type="button" class="btn btn-default btn-sm userItem"
                        onclick="askUserDetails('@item.UserName', '@item.FirstName')">
                    <span class="lead">@(item?.FirstName?.Replace(".", "")) @(item?.LastName?.Replace(".", " "))</span>
                </button>
            </li>
            }
        }
    }
    </ul>
</section>

@Html.Partial("AccessInfo")