@model Web.Models.EidCard

<ul id="collap" class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header">@Resources.Global.FirstName</div>
        <div class="collapsible-body"><span>@Html.DisplayFor(model => model.FirstName)</span></div>
    </li>
    <li>
        <div class="collapsible-header">@Resources.Global.MiddleName</div>
        <div class="collapsible-body">
            <span>
                @{
                    if (!Model.MiddleName.Equals(""))
                    {
                        Html.DisplayFor(model => model.MiddleName);
                    }
                    else
                    {
                        @Resources.Global.No_middleName;
                    }
                }
            </span>
        </div>
    </li>
    <li>
        <div class="collapsible-header">@Resources.Global.LastName</div>
        <div class="collapsible-body"><span>@Html.DisplayFor(model => model.LastName)</span></div>
    </li>
    <li>
        <div class="collapsible-header">@Resources.Global.Gender</div>
        <div class="collapsible-body"><span>@Html.DisplayFor(model => model.Gender)</span></div>
    </li>
    <li>
        <div class="collapsible-header">@Resources.Global.CardDeliveryMunicipality</div>
        <div class="collapsible-body"><span>@Html.DisplayFor(model => model.CardDeliveryMunicipality)</span></div>
    </li>
    <li>
        <div class="collapsible-header">@Resources.Global.AddressStreet</div>
        <div class="collapsible-body"><span>@Html.DisplayFor(model => model.AddressStreet)</span></div>
    </li>
    <li>
        <div class="collapsible-header">@Resources.Global.AddressCity</div>
        <div class="collapsible-body"><span>@Html.DisplayFor(model => model.AddressCity)</span></div>
    </li>
    <li>
        <div class="collapsible-header">@Resources.Global.AddressPostal</div>
        <div class="collapsible-body"><span>@Html.DisplayFor(model => model.AddressPostal)</span></div>
    </li>
    <li>
        <div class="collapsible-header">@Resources.Global.Age</div>
        <div class="collapsible-body"><span>@Html.DisplayFor(model => model.Age)</span></div>
    </li>
    <li>
        <div class="collapsible-header">@Resources.Global.BirthDay</div>
        <div class="collapsible-body"><span>@Html.DisplayFor(model => model.BirthDay)</span></div>
    </li>
    <li>
        <div class="collapsible-header">@Resources.Global.Nationality</div>
        <div class="collapsible-body"><span>@Html.DisplayFor(model => model.Nationality)</span></div>
    </li>
</ul>