@model Web.Models.PublicServiceData.PSDCar
@{
    ViewBag.Title = Resources.Global.Cops_title;
}

<div class="m5 details-content">
    @if (ViewBag.PS != null)
    {
        <h2 class="grey-text text-darken-3"> @ViewBag.PS.DalMethod</h2>
    }
    <ul class="collection with-header detailCollect">
        <li class="collection-header"><h4>@Resources.Global.Cops_title</h4></li>
        <a class="nolink" href="#" onclick="displayAccessInfoPopup(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Owner))"><li class="collection-item"><div><strong>@Resources.Global.Ower :</strong> @Html.DisplayFor(model => model.Owner.Value)<i class="fas fa-arrow-alt-circle-right secondary-content"></i></div></li></a>
        <a class="nolink" href="#" onclick="displayAccessInfoPopup(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Brand))"><li class="collection-item"><div><strong>@Resources.Global.Brand :</strong> @Html.DisplayFor(model => model.Brand.Value)<i class="fas fa-arrow-alt-circle-right secondary-content"></i></div></li></a>
        <a class="nolink" href="#" onclick="displayAccessInfoPopup(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.NumberPlate))"><li class="collection-item"><div><strong>@Resources.Global.PlateNumber :</strong> @Html.DisplayFor(model => model.NumberPlate.Value)<i class="fas fa-arrow-alt-circle-right secondary-content"></i></div></li></a>
    </ul>
    @Html.Partial("AccessInfo")
</div>