@model Web.Models.PublicServiceData.MockPSDFirstNames

<div>
    <h4>MockPSDFirstNames</h4>
    <hr />
    @foreach (var record in Model.Records)
    {
        <dl class="dl-horizontal p-3">
            <dt>
                @Html.DisplayNameFor(model => record.Count)
            </dt>
            <dd>
                @Html.DisplayFor(model => record.Count)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => record.SearchedName)
            </dt>
            <dd>
                @Html.DisplayFor(model => record.SearchedName)
            </dd>
        </dl>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
