@model Web.Models.PublicServiceData.MockPSDFirstNames

<div>
    @{
        ViewBag.PSDTitle = "FirstNames";
    }
    <h4>@ViewBag.PSDTitle</h4>
    <hr />
    @foreach (var record in Model.Records)
    {
        <dl class="dl-horizontal p-3">
            <dt>
                @Html.DisplayNameFor(model => record.Count)
            </dt>
            <dd>
                @Html.DisplayFor(model => record.Count)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => record.SearchedName)
            </dt>
            <dd>
                @Html.DisplayFor(model => record.SearchedName)
            </dd>
        </dl>
    }
</div>
