@model List<Web.Models.ViewModel.PublicServiceDataViewModel>
@{
    ViewBag.Title = "Generic View";
}

<style>
    #bg-handle {
        background: none;
        background-color: #E6E6E6;
    }
</style>
<div class="m5 details-content">
    @if (ViewBag.PS != null)
    {
        <h2 id="ps-data-title" class="grey-text text-darken-3">Population Service</h2>
    }

    <ul id="data-card" class="collection with-header detailCollect z-depth-3">
        <li class="collection-header"><h4>Vos données</h4></li>

        @foreach (var psd in Model)
        {
            @Html.DisplayFor(model => psd.ContractName)
            foreach (var element in psd?.Datas ?? new Dictionary<string, dynamic>())
            {
                if (string.IsNullOrWhiteSpace(element.Key))
                {
                    continue;
                }
                <a class="nolink" href="#" onclick="displayAccessInfoPopup(@Newtonsoft.Json.JsonConvert.SerializeObject(psd.AccessInfos))">
                    <li class="collection-item data-link">
                        <div>
                            <strong>@element.Key :</strong> @Html.DisplayFor(model => element.Value)
                            <i class="data-item fas fa-arrow-alt-circle-right secondary-content"></i>
                        </div>
                    </li>
                </a>
            }
        }

    </ul>
</div>

@Html.Partial("AccessInfo")

