@model Web.Models.PublicServiceData.PSDUser
@{
    ViewBag.Title = Resources.Global.Cops_title;
}

<div class="m5 details-content">
    @if (ViewBag.PS != null)
    {
        <h2 class="grey-text text-darken-3"> @ViewBag.PS.ContractId</h2>
    }
    @foreach (var element in Model?.Datas)
    {
        if (string.IsNullOrWhiteSpace(element.Value.Value))
        {
            continue;
        }
        <a class="nolink" href="#" onclick="displayAccessInfoPopup(@Newtonsoft.Json.JsonConvert.SerializeObject(element.Value))">
            <li class="collection-item">
                <div>
                    <strong>@element.Key :</strong> @Html.DisplayFor(model => element.Value.Value)
                    <i class="fas fa-arrow-alt-circle-right secondary-content"></i>
                </div>
            </li>
        </a>
    }
   
    @Html.Partial("AccessInfo")
</div>