@model Web.Models.PublicServiceData.MockPSDItunes

<div>
    <h4>MockPSDItunes</h4>
    <hr />
    <p> @Html.DisplayFor(model => Model.ResultCount)</p>
    @foreach (var result in Model.Results)
    {
    <dl class="dl-horizontal p-2" style="border: 1px solid red;">
        
        <dt>
            @Html.DisplayNameFor(model => result.WrapperType)
        </dt>

        <dd>
            @Html.DisplayFor(model => result.WrapperType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => result.Kind)
        </dt>

        <dd>
            @Html.DisplayFor(model => result.Kind)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => result.Artist)
        </dt>

        <dd>
            @Html.DisplayFor(model => result.Artist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => result.Collection)
        </dt>

        <dd>
            @Html.DisplayFor(model => result.Collection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => result.Track)
        </dt>

        <dd>
            @Html.DisplayFor(model => result.Track)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => result.CollectionCensored)
        </dt>

        <dd>
            @Html.DisplayFor(model => result.CollectionCensored)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => result.TrackCensored)
        </dt>

        <dd>
            @Html.DisplayFor(model => result.TrackCensored)
        </dd>

        <dt>
            @Html.DisplayNameFor(model=> result.ArtistViewURL)
        </dt>

        <dd>
            @Html.DisplayFor(model=> result.ArtistViewURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model=> result.CollectionViewURL)
        </dt>

        <dd>
            @Html.DisplayFor(model=> result.CollectionViewURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model=> result.TrackViewURL)
        </dt>

        <dd>
            @Html.DisplayFor(model=> result.TrackViewURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model=> result.Preview)
        </dt>

        <dd>
            @Html.DisplayFor(model=> result.Preview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model=> result.ArtworkURL60)
        </dt>

        <dd>
            @Html.DisplayFor(model=> result.ArtworkURL60)
        </dd>

        <dt>
            @Html.DisplayNameFor(model=> result.ArtworkURL100)
        </dt>

        <dd>
            @Html.DisplayFor(model=> result.ArtworkURL100)
        </dd>

        <dt>
            @Html.DisplayNameFor(model=> result.CollectionPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model=> result.CollectionPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model=> result.TrackPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model=> result.TrackPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model=> result.CollectionExplicitness)
        </dt>

        <dd>
            @Html.DisplayFor(model=> result.CollectionExplicitness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model=> result.TrackExplicitness)
        </dt>

        <dd>
            @Html.DisplayFor(model=> result.TrackExplicitness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model=> result.DiscCount)
        </dt>

        <dd>
            @Html.DisplayFor(model=> result.DiscCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model=> result.DiscNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model=> result.DiscNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model=> result.TrackCount)
        </dt>

        <dd>
            @Html.DisplayFor(model=> result.TrackCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model=> result.TrackNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model=> result.TrackNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model=> result.TrackTimeMillis)
        </dt>

        <dd>
            @Html.DisplayFor(model=> result.TrackTimeMillis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model=> result.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model=> result.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model=> result.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model=> result.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model=> result.PrimaryGenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model=> result.PrimaryGenreName)
        </dd>

    </dl>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
