@model Web.Models.PublicServiceData.MockPSDItunes

<div>
    <h4>MockPSDItunes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WrapperType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WrapperType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kind)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Collection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Collection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Track)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Track)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollectionCensored)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollectionCensored)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrackCensored)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackCensored)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtistViewURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtistViewURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollectionViewURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollectionViewURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrackViewURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackViewURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtworkURL60)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtworkURL60)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtworkURL100)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtworkURL100)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollectionPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollectionPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrackPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollectionExplicitness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollectionExplicitness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrackExplicitness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackExplicitness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrackCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrackNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrackTimeMillis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackTimeMillis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryGenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryGenreName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
