@model Web.Models.PublicServiceData.PSDMic
@{
    ViewBag.Title = "Mic Data";
}

<div class="m-5">
    <hr />

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd>
            <button type="button" class="btn btn-primary btn-sm"
                    onclick="displayAccessInfoPopup(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.FirstName))"
                    @{if (Model.FirstName.AccessInfos.Count == 0) { @: disabled="disabled"
                    } }>
                <span class="fa fa-search" aria-hidden="true"></span>
            </button>
            @Html.DisplayFor(model => model.FirstName.Name)
        </dd>

        <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd>
            <button type="button" class="btn btn-primary btn-sm"
                    onclick="displayAccessInfoPopup(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.LastName))"
                    @{if (Model.LastName.AccessInfos.Count == 0) { @: disabled="disabled"
                    } }>
                <span class="fa fa-search" aria-hidden="true"></span>
            </button>
            @Html.DisplayFor(model => model.LastName.Name)
        </dd>

        <dt>@Html.DisplayNameFor(model => model.Age)</dt>
        <dd>
            <button type="button" class="btn btn-primary btn-sm"
                    onclick="displayAccessInfoPopup(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Age))"
                    @{if (Model.Age.AccessInfos.Count == 0) { @: disabled="disabled"
                    } }>
                <span class="fa fa-search" aria-hidden="true"></span>
            </button>
            @Html.DisplayFor(model => model.Age.Name)
        </dd>

        <dt>@Html.DisplayNameFor(model => model.Locality)</dt>
        <dd>
            <button type="button" class="btn btn-primary btn-sm"
                    onclick="displayAccessInfoPopup(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Locality))"
                    @{if (Model.Locality.AccessInfos.Count == 0) { @: disabled="disabled"
                    } }>
                <span class="fa fa-search" aria-hidden="true"></span>
            </button>
            @Html.DisplayFor(model => model.Locality.Name)
        </dd>

        <dt>@Html.DisplayNameFor(model => model.Nationality)</dt>
        <dd>
            <button type="button" class="btn btn-primary btn-sm"
                    onclick="displayAccessInfoPopup(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Nationality))"
                    @{if (Model.Nationality.AccessInfos.Count == 0) { @: disabled="disabled"
                    } }>
                <span class="fa fa-search" aria-hidden="true"></span>
            </button>
            @Html.DisplayFor(model => model.Nationality.Name)
        </dd>
    </dl>
</div>

@Html.Partial("AccessInfo")