@model Web.Models.PublicServiceData.PSDUser
@{
    ViewBag.Title = Resources.Global.PSD_Users_Title;
}

<div class="m5 details-content">
    @if (ViewBag.PS != null)
    {
        <h2 class="grey-text text-darken-3"> @Resources.Global.PSDTitle</h2>
    }
    @Model.Content

    <ul class="collection with-header detailCollect">
        <li class="collection-header"><h4>@Resources.Global.PSD_Users_Title</h4></li>

        @foreach (var element in Model.Datas)
        {
            <a class="nolink" href="#" onclick="displayAccessInfoPopup(@Newtonsoft.Json.JsonConvert.SerializeObject(element.Value))">
                <li class="collection-item">
                    <div>
                        <strong>@element.Key :</strong> @Html.DisplayFor(model => element.Value.Value)
                        <i class="fas fa-arrow-alt-circle-right secondary-content"></i>
                    </div>
                </li>
            </a>
        }

    </ul>
</div>

@Html.Partial("AccessInfo")
