@model Web.Models.PublicServiceData.MockPSDZippopotam

<div>
    @{
        ViewBag.Mail = "mailto:help@zippopotam.us?Subject=Help%20Privacy%20Passport";
    }
    <h4>@ViewBag.PSDTitle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCode)
            <br />
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                @Resources.Global.Details_btn
            </button>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryAbbr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryAbbr)
        </dd>
    </dl>
    <h5>Places</h5>
    @foreach (var place in Model.Places)
    {
        <dl class="dl-horizontal p-3" style="border: solid 1px black;">
            <dt>
                @Html.DisplayNameFor(model => place.PlaceName)
            </dt>
            <dd>
                @Html.DisplayFor(model => place.PlaceName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => place.Latitude)
            </dt>
            <dd>
                @Html.DisplayFor(model => place.Latitude)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => place.Longitude)
            </dt>
            <dd>
                @Html.DisplayFor(model => place.Longitude)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => place.State)
            </dt>
            <dd>
                @Html.DisplayFor(model => place.State)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => place.StateAbbr)
            </dt>
            <dd>
                @Html.DisplayFor(model => place.StateAbbr)
            </dd>
        </dl>
    }
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Html.DisplayNameFor(model => model.PostCode)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-3">@Resources.Global.PSDDataDetails</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.PostCode)</dd>

                    <dt class="col-sm-3">@Resources.Global.PSDDataDescription</dt>
                    <dd class="col-sm-9">Vivamus scelerisque tellus nisl, ac finibus elit vulputate at. Nulla consectetur porta mi. Curabitur dictum non risus id viverra. Praesent vitae magna at elit convallis auctor. Donec faucibus risus id magna rutrum molestie. Vestibulum pharetra leo justo, nec imperdiet ligula mollis in. Duis luctus pretium vulputate. Nam elementum massa dolor, a commodo dolor sollicitudin vitae. Donec luctus dignissim est, vitae viverra urna gravida sit amet. Nulla vel eleifend nisl. Vivamus quis sagittis urna.</dd>

                    <dt class="col-sm-3">@Resources.Global.PSDDataContact</dt>
                    <dd class="col-sm-9">
                        <p><a href="@ViewBag.Mail" target="_top">@Resources.Global.PSDDataMail</a></p>
                        <p>0476/15.76.89</p>
                    </dd>
                </dl>
                <br />
            </div>
        </div>
    </div>
</div>