@model List<Web.Models.PublicService>

@{
    ViewBag.Title = Resources.Global.Home;
    var eid = ViewBag.Eid as Web.Models.EidCard;
    int i = 1;
}

<div class="d-flex justify-content-between align-items-stretch">
    <section id="ps-identity" class="p-2">
        <a href="#" id="opener">
            <img class="fas fa-arrow-right" atl="Open" width="3" height="3" />
        </a>
        @if (eid != null)
        {
            @Html.Partial("../Eid/Details", eid)
        }
    </section>
    <section id="ps-sections" class="bg-faded">
        <div class="container">
            <div class="row">
                @foreach (var ps in Model)
                {
                    <div class="col s4 ps-wrapper" data-action="@Url.Action("Select", "PS", new { id = ps.ID })">
                        <h4>Public service</h4>
                        <p>Some content</p>
                        @*<div class="card blue-grey darken-1 small public-service">
                            <div class="card-image">
                                <img src="@ps.ImageURI" width="220" height="150" />
                            </div>
                            <div class="card-content white-text">
                                <p>@Html.DisplayFor(model => ps.Description)</p>
                            </div>
                            <div class="card-action">
                                @Html.ActionLink(ps.Name, "Select", "PS", new { id = ps.ID }, new { @class = "ps-title" })
                            </div>
                        </div>*@
                    </div>
                    @*if (i % 4 == 0)
                    {
                        @Html.Raw("</div><div class='row'>")
                    }
                    i++;*@
                }
                @*@{
                    if(Model.Count % 4 != 0)
                    {
                        int fillings = ((int)Math.Ceiling((double)Model.Count / 4) * 4 ) - Model.Count;
                        for(int j = 0; j < fillings; j++)
                        {
                            <div class="col s4"></div>
                        }
                    }
                }*@
            </div>
        </div>
    </section>
</div>