@model List<Web.Models.PublicService>

@{
    ViewBag.Title = Resources.Global.Home;
    var eid = ViewBag.Eid as Web.Models.EidCard;
}

<style>
    #bg-handle {
        background: none;
        background-color: #F2F2F2;
    }
</style>
<div id="homecontent">
    <section id="ps-identity">
        <a id="opener">
            <img class="fas fa-arrow-right" atl="Open" width="3" height="3" />
        </a>
        @if (eid != null)
        {
            @Html.Partial("../Eid/Details", eid)
        }
    </section>
    <section id="ps-sections">
        <div class="container" id="ps-container">
            <div class="row">
                @foreach (var ps in Model)
                {
                    <div class="col s3 card-modified" data-action="@Url.Action("Select", "PS", new { id = ps.ID })">
                        <div class="card grey lighten-5 small public-service">
                            <div class="card-image">
                                <img src="@ps.ImageURI" width="220" height="150" />
                            </div>
                            <div class="card-content">
                                <p>@Html.DisplayFor(model => ps.Description)</p>
                            </div>
                            <div class="card-action">
                                @Html.ActionLink(ps.Name, "Select", "PS", new { id = ps.ID }, new { @class = "ps-title black-text" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>