@model List<Web.Models.PublicService>

@{
    ViewBag.Title = Resources.Global.Home;
}

<h2>@Resources.Global.Welcome_message @ViewBag.Name !</h2>

<div class="container">
    <div class="row">
    @foreach (var ps in Model)
    {
        if (Model.ToList().FindIndex(p => p.ID == ps.ID) % 3 > 0 && 
            Model.ToList().FindIndex(p => p.ID == ps.ID) % 3 == 0)
        {
            @Html.Raw("</div><div class='row'>")
        }
        <div class="d-inline-block public-service col-sm-4">
            <h3>@Html.ActionLink(ps.Name, "Select", "PS", new { id = ps.ID }, new { @class = "ps-title" })</h3>
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => ps.Description)</dt>
                <dd>@Html.DisplayFor(model => ps.Description)</dd>

                <p>Technical Info</p>
                <dt>@Html.DisplayNameFor(model => ps.DalMethod)</dt>
                <dd>@Html.DisplayFor(model => ps.DalMethod)</dd>

                <dt>@Html.DisplayNameFor(model => ps.Url)</dt>
                <dd>@Html.DisplayFor(model => ps.Url)</dd>
            </dl>
        </div>
    }
    </div>
</div>