@model List<Web.Models.PublicService>

@{
    ViewBag.Title = Resources.Global.Home;
    var eid = ViewBag.Eid as Web.Models.EidCard;
}

<div class="d-flex justify-content-between align-items-stretch">
    <section id="ps-identity" class="p-2">
        <h4 id="chkid">@Resources.Global.Check_eid</h4>
        <a href="#" id="closer">
            <img class="fas fa-times" alt="Close" width="2" height="2" />
        </a>
        @if (eid != null)
        {
            @Html.Partial("../Eid/Details", eid)
        }
    </section>
    <section id="ps-sections" class="bg-faded d-flex flex-wrap ">
       
        @foreach (var ps in Model)
        {
            if (Model.ToList().FindIndex(p => p.ID == ps.ID) % 3 > 0 &&
                Model.ToList().FindIndex(p => p.ID == ps.ID) % 3 == 0)
            {
                @Html.Raw("")
            }
            <article class="public-service  m-4 p-2" data-action="@Url.Action("Select", "PS", new { id = ps.ID })">
                <h5 class="font-weight-bold">@Html.ActionLink(ps.Name, "Select", "PS", new { id = ps.ID }, new { @class = "ps-title" })</h5>
                <p>@Html.DisplayFor(model => ps.Description)</p>
            </article>
        }
    </section>
</div>
