@model IEnumerable<PublicService.Models.MicTrainee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>MIC Trainees</h1>
    <p class="lead">This a service where you can see information about MIC trainees</p>
    @Html.ActionLink("Upload the trainees information to privacy passport", "Azure", "MIC")
</div>

<section id="trainees">
    <ul>
        @foreach (var item in Model)
        {
        <li>
            <button type="button" class="btn btn-primary btn-sm"
                    onclick="displayMICDetails(@item.Id, @Newtonsoft.Json.JsonConvert.SerializeObject(item.FirstName))">
                <span class="fa fa-search" aria-hidden="true"></span>
            </button>
            @Html.DisplayFor(model => item.FirstName.Value)
        </li>
        }
    </ul>
</section>

@Html.Partial("AccessInfo")